/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Edu TAS Beginner", cursive;
}

body {
    background-image: url(./img/cork.png);
    background-size: 300px;
    background-repeat: repeat;
}
/* #endregion common */

/* #region header */
header {
    background-image: url(./img/wall.png);
    background-size: 300px;
    background-repeat: repeat;

    h1 {
        text-align: center;
        padding: 2rem 0;
        font-size: 4rem;
    }
}
/* #endregion header */

/* #region main */
main {

    .row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding: 3rem 0;
        gap: 2rem;

        .card {
            background-color: #ffffff;
            width: calc((100% /12) * 3);
            position: relative;
            box-shadow: #363636 2px 4px 8px;
            transition: transform 1s, scale 1s;

            img.pin {
                position: absolute;
                top: -14px;
                left: 0;
                right: 0;
                margin: 0 auto;
            }

            .card-img {
                padding: 1rem 1rem 0 1rem;
                text-align: center;

                img {
                    width: 100%;
                }
            }

            .card-desc {
                padding: 1rem;

                p {
                    font-size: large;
                }
            }
        }

        .card:hover {
            transform: rotate(20deg);
            scale: 1.05;
            z-index: 1;

            img.pin {
                display: none;
            }
        }
    }
}
/* #endregion main */

/* #region media query */

/* media query tablet */
@media screen and (max-width: 768px) {
    main {

        .row {

            .card {
                width: calc((100% /12) * 4);
            }
        }
    }
}

/* media query phone */
@media screen and (max-width: 425px) {
    main {

        .row {

            .card {
                width: 60%;
            }
        }
    }
}

/* #endregion media query */