/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Edu TAS Beginner", cursive;
}
/* #endregion common */

/* #region header */
header {
    background-image: url(./img/wall.png);

    h1 {
        text-align: center;
        padding: 2rem 0;
        font-size: 4rem;
    }
}
/* #endregion header */

/* #region main */
main {
    background-image: url(./img/cork.png);
    
    /* RICORDA: dopo potrebbe non aver senso */
    height: 100vh;

    .row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .card {
            background-color: #ffffff;
            width: calc((100% /12) * 4);

            .card-title {
                
                img {
                    width: 90%;
                }
            }
        }
    }
}
/* #endregion main */